# Ray runtime environment
RAY_ENABLE_UV_RUN_RUNTIME_ENV=0
RAY_DEFAULT_OBJECT_STORE_MEMORY_PROPORTION=0.75

# Ray Dashboard metrics sources
RAY_GRAFANA_HOST=http://localhost:3000
RAY_PROMETHEUS_HOST=http://localhost:9090
