apiVersion: v1
kind: Service
metadata:
  name: sentimentizer
  labels:
    app: sentimentizer
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  - name: dashboard
    port: 8265
    targetPort: 8265
    protocol: TCP
  selector:
    app: sentimentizer
